source/core-xml-schemas/stroomContent/XML_Schemas.Folder.428918b8-4088-42ad-8c49-663b7a428ea9/core.Folder.428918b8-4088-42ad-8c49-663b7a428ea3/analytic_output.Folder.86e3aa7e-ec24-471a-aae6-667d31232288/annotation_v1_0.XMLSchema.276ff629-1980-4146-8d68-d21967566afc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:d="annotation:1" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="annotation:1" id="annotation-v1.0" version="1.0">
  <xs:element name="annotations">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>Contains a sequence of annotations.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="annotation" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A single annotation which may represent a single alert from an analytic.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="createTime" type="d:DateTimeSimpleType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>When the detection occurred, if appropriate.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>The headline for the annotation</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Further annotation detail</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="value" minOccurs="0" maxOccurs="100">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="name" type="xs:string" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="associatedEvents" type="d:AssociatedEventsComplexType" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="DateTimeSimpleType">
    <xs:annotation>
      <xs:documentation>This type constrains the date time format further so that is always represented as 'yyyy-MM-ssThh:mm:ss.sssZ'.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="[\d]{4}-[\d]{2}-[\d]{2}T[\d]{2}:[\d]{2}:[\d]{2}.[\d]{3}Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AssociatedEventsComplexType">
    <xs:annotation>
      <xs:documentation>Any associated events that exist elsewhere in Stroom.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="associatedEvent" minOccurs="0" maxOccurs="unbounded" type="d:AssociatedEventComplexType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AssociatedEventComplexType">
    <xs:sequence>
      <xs:element name="stroom" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The Stroom instance within which this event exists, assumed to be this instance of Stroom if not supplied.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="streamId" type="xs:long" />
      <xs:element name="eventId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
